/*******************************************************************************
 * TOOLTIPS
 ******************************************************************************/

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*******************************************************************************
 * TABLE
 ******************************************************************************/

table.badges {
  border-spacing: 0 1px;
  border-collapse: separate;
}

table.badges td {
  vertical-align: middle;
}

table.badges thead td {
  text-align: center;
}

/*******************************************************************************
 * ERRORS
 ******************************************************************************/

ul.errors {
    color: #D8000C;
    background-color: #FFBABA;
    border: 2px solid #D8000C;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
