{% if "home_page" in pypi.info %}
<a href="{{ pypi.info.home_page }}">{{ pypi.info.name }}</a>
{% elif "homepage" in cell %}
<a href="{{ cell.homepage }}">{{ pypi.info.name }}</a>
{% else %}
{{ pypi.info.name }}
{% endif %}
